* {
  padding: 0;
  margin: 0;
}
:root {
  --background-color: #f2f4fa;
  --sidebar-color: #157fea;
}
body {
  background-color: var(--background-color);
}
main {
  display: flex;
}

main .sidebar-container {
  background-color: var(--sidebar-color);
  height: 100dvh;
  padding: 9px;
  border-top-right-radius: 8px;
  position: fixed;
  /* margin-top: 58px; */
}
main .sidebar-container ul {
  list-style: none;
  gap: 25px;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

main .sidebar-container ul li:first-child {
  margin-bottom: -10px;
}
main .sidebar-container ul li.active {
  background-color: white;
  padding: 8px 8px 5px 8px;
  border-radius: 10px;
}
